<div class="ui two column grid">
  <div class="column" *ngFor="let visual of visuales">
    <div class="ui card">
      <div class="image">
        <img src={{visual.img}}>
      </div>
      <div class="content">
        <a class="header" style="margin: 1em 0 1em 0;">{{ visual.name }}</a>
        <div class="description">
          {{ visual.desc?.slice(0,50) }}
        </div>
        <div class="description">
          {{ visual.contact }}
        </div>
      </div>
      <a href={{visual.web}} target="_blank" class="extra content">
        <button class="ui right floated tiny red right labeled icon button">
          <i class="external alternate icon"></i>
          Website
        </button>
      </a>
    </div>
  </div>
</div>