<div class="ui two column grid">
  <div class="column" *ngFor="let prod of productores">
    <div class="ui card">
      <div class="image">
        <img src={{prod.img}}>
      </div>
      <div class="content">
        <a class="header" style="margin: 1em 0 1em 0;">{{ prod.name }}</a>
        <div class="description">
          {{ prod.desc }}
        </div>
        <div class="description">
          {{ prod.contact }}
        </div>
      </div>
      <a href={{prod.web}} target="_blank" class="extra content">
        <button class="ui right floated tiny red right labeled icon button">
          <i class="external alternate icon"></i>
          Website
        </button>
      </a>
    </div>
  </div>
</div>